<head>
    <style>
    html, body {
  height: 100%;
  margin: 0;
}

    #sidenav{
      background:url("images/night.jpg");
      background-position:center;
      background-repeat:no-repeat;
      background-attachment:fixed;
      background-size:cover;
    }
    ul#sidenavul1{
      list-style-type:none;
      margin:0;
      overflow:hidden;
      padding:0;
    }
    ul#sidenavul1 li{
      float:left;
      display:block;
      width:100%;
      margin:0;
    }
    ul#sidenavul1 li a{
      
      display:block;
      text-align:left;
      font-size:18px;
      color:springgreen;
      padding:10px;
      text-decoration:none;
      padding-left:10%;
      font-family:Courier New, monospace
    }
    ul#sidenavul1 li a:hover{
      background-color:springgreen;
      color:black;
    }

    ul#sidenavul2{
      list-style-type:none;
      margin:0;
      overflow:hidden;
      padding:0;
    }
    ul#sidenavul2 li{
      float:left;
      display:block;
      width:100%;
      margin:0;
    }
    ul#sidenavul2 li a{
      
      display:block;
      text-align:left;
      font-size:18px;
      color:springgreen;
      padding:10px;
      text-decoration:none;
      padding-left:10%;
      font-family:Courier New, monospace;
    }
    ul#sidenavul2 li a:hover{
      background-color:springgreen;
      color:black;
    }
    </style>
</head>
<body>
<div id="sidenav" style="z-index:3;width:350px;height:100%;position:fixed;top:0;left:0;font-family:Courier New, monospace">
    <p style="font-size:24px;padding:2% 0;color:white;font-family:Courier New, monospace">
    <div class="dropdown">
    <p class="dropdown-toggle" data-toggle="dropdown" style="font-size:18px;text-align:center;cursor:pointer;color:springgreen;">
    <% session[:workspaces].each do |a| %>
        <% if session[:user]["currentworkspace"] == a["id"] %>
          <%= a["name"] %>
        <% else %>
          
        <% end %>
    <% end %>
    <span class="caret"></span></p>
    <ul class="dropdown-menu" >
    <% session[:workspaces].each do |a| %>
      <% if a["id"] != session[:user]["currentworkspace"] %>
      <li style="cursor:pointer;"><a href="#" style="cursor:pointer;"><p style="font-size:18px;padding:2% 0;color:black;font-family:Courier New, monospace;">
        <%= a["name"] %></p></a></li>
      <% end %>
    <% end %>
    <li><a href="/createworkspace" style="cursor: pointer;"><p style="font-size:18px;padding:2% 0;color:black;font-family:Courier New, monospace;">CREATE WORKSPACE</p></a></li>
    <li><a href="/editworkspace" style="cursor: pointer;"><p style="font-size:18px;padding:2% 0;color:black;font-family:Courier New, monospace;">EDIT WORKSPACE</p></a></li>
    </ul>
  </div>
    <i class="fas fa-plus"></i></p>
    <div style="width:80%;height:300px;background-color:#2d2e30;border-radius:10px;display:block;margin:0 auto;margin-top:10%;">
      
    </div>
    <hr style="border:1px solid black;">
    <ul id="sidenavul1">
    <p style="font-size:24px;padding:2% 0;color:white;font-family:Courier New, monospace">Channels<i class="fas fa-plus"></i></p>
    <% @group.each do |a| %>
      <li><a href="#"><%= a.name %></a></li>
    <% end %>
    
    </ul>
    <hr style="border:1px solid black;">
    <ul id="sidenavul2">
    <p style="font-size:24px;padding:2% 0;color:white;font-family:Courier New, monospace">Direct Messages<i class="fas fa-plus"></i></p>
    <% @uhw.each do |a| %>
      <li><a href="#"><%= a.user.name %></a></li>
    <% end %>
    </ul>
    <hr style="border:1px solid black;">
    <div style="">
    <p style="font-size:24px;padding:2% 0;color:white;font-family:Courier New, monospace">Setting<i class="fas fa-plus"></i></p>
      <div style="padding:10px;">
      <p><a href="#" style="text-decoration:none;color:white;font-family:Courier New, monospace;font-size:18px;display:block;padding:2% 0;">Account Setting</a></p>
      <p><a href="#" style="text-decoration:none;color:white;font-family:Courier New, monospace;font-size:18px;display:block;padding:2% 0;">Text Format Setting</a></p>
      <p><a href="#" style="text-decoration:none;color:white;font-family:Courier New, monospace;font-size:18px;display:block;padding:2% 0;">User Management Setting</a></p>
      <p><a href="#" style="text-decoration:none;color:white;font-family:Courier New, monospace;font-size:18px;display:block;padding:2% 0;">Pravacy</a></p>
      <p><a href="/logout" style="text-decoration:none;color:white;font-family:Courier New, monospace;font-size:18px;display:block;padding:2% 0;">LOG OUT</a></p>
    
      </div>
    </div>
    
</div>
    <script>
    $(document).ready(function(){
      $("#sidenav").mouseenter(function(){
        $("#sidenav").css("overflow", "auto");
      });
      $("#sidenav").mouseleave(function(){
        $("#sidenav").css("overflow", "hidden");
      });
    });
    </script>
</body>