<head>
    <style>
    input[type=text]{
        border:2px solid #CCC;
        border-bottom:2px solid springgreen;height:40px;border-radius:15px;font-family:time new roman;
    }
    input[type=submit],input[type=button]{
        border-radius:15px;font-family:time new roman;font-size:18px;
        color:black;
        font-weight:bold;
        background-color:springgreen;
        border:2px solid black;
        height:40px;
    }
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

    </style>
</head>
<body>
    <div style="border:1px solid red;width:80%;display:block;margin:0 auto;font-family:Arial, sans-serif;padding:5%;">
        <h3>Create a Channel</h3>
        <p style="font-size:18px;">Channel are where your memebers communicate. They're best when organized around a topic - #marketing, for example. <a href="#">Learn more</a> about how to create and name your channels for your team.
        </p>
        <%= form_tag("/createchannel", method: "post") do %>
        
        <label class="switch">
            <input id="type_cbx" name="cbx" value="s" type="checkbox" onchange="public_private()" checked>
            <span class="slider round"></span>
        </label>
        <span id="demo"><b>Public</b></span>
            <input type="hidden" name="cbx_hidden" id="cbx_hidden">
            <div class="form-group">
                <%=label_tag(:q,"Name")  %> 
                <input id="a" type="text" name="name" class="form-control">
            </div>  
                    
            <div class="form-group">
              <%=label_tag(:q,"Purpose")  %> 
              <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
              <%=label_tag(:q,"Send invites to:")  %> 
              <input type="text" name="invite" class="form-control">
            </div>
            
            <div class="form-group" style="padding:0 30%;">
            <div class="row">
                <div class="col-sm-6">
                    <input type="button" value="CANCEL" class="form-control" >
                </div>
                <div class="col-sm-6">
                    <input type="submit" value="SIGN UP" class="form-control" > 
                </div>
            </div>
              <%  end  %>
            </div>
    </div>
    <script>
        function public_private(){
            if(document.getElementById("type_cbx").checked){
                document.getElementById("demo").innerHTML = "Public";
                document.getElementById("cbx_hidden").value = "public";
            }
            else{
                document.getElementById("demo").innerHTML = "Private";
                document.getElementById("cbx_hidden").value = "private";
            }
        }
    </script>
</body>